/* General App CSS */
*{
  margin: 0%;
}
html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth; 
   background-image: url("../img/bg-img-1.jpeg");
    background-attachment: fixed;
    display: flex;

}
p{
  font-size: 20px;
  padding-left: 240px;
  width: 600px;
}
h1{
	color: rgb(102, 1, 235);
}
h1 b{
	color: rgb(255, 255, 255);
	
}
i{
	font-size: 40px;
  padding-left: 240px;
}

/* Navigation Bar CSS */
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(27, 27, 27);
  min-height: 8vh;
  position: fixed;
  width: 100%;
  top: 0;
}
.nav__logo {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 5px;
  color: white;
}
.nav__links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.nav__links a {
  color: white;
  text-decoration: none;
}
.nav__links a:hover{
  color: tomato;
  transition: .9s;

}

.nav__links li {
  list-style-type: none;

}

/* General Section CSS */
section{
  padding: 90px;

}
.container{
  text-align: center;
  width: 100%;
}
/* Home Section CSS */
.home__header h1{
  font-size: 500px;
  padding-bottom: 20px;
  text-align: center;
}

/* Social Media Icons CSS */
.home_icon a{
font-size: 50px;
line-height: 60px;
color: black;
padding-left: 170px;
}
.home_icon a:nth-child(1):hover{
color: #3b5999;
}
.home_icon a:nth-child(2):hover{
 color: #0077B5;
 }
 .home_icon a:nth-child(3):hover{
 color: #e4405f;
 }
.home_icon a:nth-child(4):hover{
 color: #cd201f;
 }

.fa{
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  transition: .3s;
  


}
.fa:hover{
  transform:translate(0,-10px)
}
/* About Section CSS */
.about__section{
  background-color: black;
  color: #fff;
  height: 400px;
  width: 113.5%;
 
}
.about__section h1{
 font-size: 50px;
 padding-bottom: 70px;
}
.about__info{
  display: flex;
  width: 100%;
}
.about__info img{
  border-radius: 50%;
}
.about__info p{
  font-size: 20px;
  padding-left: 50px;
  width: 600px;
}
/*Resume Section CSS*/
.resume_section {
  background-attachment: fixed;
}
.resume_section h1 {
  font-size: 50px;
  padding-left: 240;
}
/* Contact Section CSS */
.contact_section{
  font-size: 50px;
  color: white;
}
.contact_section h1{
  font-size: 50px;
  color: rgb(75,62,62);
}